<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>用户中心</title>

<!-- main JS libs -->
<script src="__PUBLIC__/ui-cream/js/libs/modernizr.min.js"></script>
<script src="__PUBLIC__/ui-cream/js/libs/jquery-1.10.0.js"></script>
<script src="__PUBLIC__/ui-cream/js/libs/jquery-ui.min.js"></script>
<script src="__PUBLIC__/ui-cream/js/libs/bootstrap.min.js"></script>

<!-- Style CSS -->
<link href="__PUBLIC__/ui-cream/css/bootstrap.css" media="screen" rel="stylesheet">
<link href="__PUBLIC__/ui-cream/style.css" media="screen" rel="stylesheet">

<!-- scripts -->
<script src="__PUBLIC__/ui-cream/js/general.js"></script>

</head>
 
<body>
  <div class="body_wrap">
    <div class="container">
    <p>试卷完成</p>
    </div>
</div>
</body>
</html>