<!DOCTYPE html>
<html>
<body>
	<style type="text/css">
		.dv-table td{
			border:0;
		}
		.dv-label{
			font-weight:bold;
			color:#15428B;
			width:100px;
		}
	</style>
	<script type="text/javascript">
		function getTypeTotal(paperID,typeID){
			typeNum = $('#'+paperID+'-'+typeID+'-num').text();
			typeGrade= $('#'+paperID+'-'+typeID+'-grade').val();
			curTypeTotal =  $('#'+paperID+'-'+typeID+'-total').text();
			curAllTotal = $('#'+paperID+'-all-total').text();
			$.post("index.php?m=admin&c=Paperdata&a=modifyPaperGrade",{
				testId:paperID,
				typeId:typeID,
				typeGrade:typeGrade,
			},function(data){
				if(data){
					typeTotal = typeNum * typeGrade;
					$('#'+paperID+'-'+typeID+'-total').text(typeTotal);
					result = curAllTotal - curTypeTotal +typeTotal ;
					$('#'+paperID+'-all-total').text(result);
				}
			});
		}
	</script>
	<table class="dv-table" border="0" style="width:100%;">
		<tr>
			<th>题型</th>
			<th>数量</th>
			<th>分值</th>
			<th>总分</th>
			<th></th>
		</tr>
		<foreach name="list" item="vo" >
			<tr>
				<td><label id="<{$paperID}>-<{$vo.type_id}>-name"><{$vo.type_name}></label></td>
				<td><label id="<{$paperID}>-<{$vo.type_id}>-num" name="<{$paperID}>-name"><{$vo.type_num}></label></td>
				<td><input  id="<{$paperID}>-<{$vo.type_id}>-grade" value="<{$vo.type_grade}>" onblur="getTypeTotal(<{$paperID}>,<{$vo.type_id}>)" onkeyup="value=value.replace(/[^0-9]/,'')"></input></td>
				<td><label id="<{$paperID}>-<{$vo.type_id}>-total" name="<{$paperID}>-total"><{$vo.type_total}></label></td>
			</tr>
		</foreach>
		<tr><td>总分:<label id="<{$paperID}>-all-total"><{$total}></label></td></tr>
	</table>
</body>
</html>