<!DOCTYPE html>
<html>
<body>
	<style type="text/css">
		.dv-table td{
			border:0;
		}
		.dv-label{
			font-weight:bold;
			color:#15428B;
			width:100px;
		}
	</style>
	<script type="text/javascript">
		$(function(){
			$('[name="<{$paperID}>-name"]').each(function(){
				typeID=$(this).attr('id').match(/[0-9]*/g);
				//alert(typeID);
				getTypeTotal(<{$paperID}>,typeID[2]);
			});
			getAllTotal(paperID);
		});
		function getTypeTotal(paperID,typeID){
			alert(typeID);
			typeNum = $('#'+paperID+'-'+typeID+'-num').text();
			typeGrade= $('#'+paperID+'-'+typeID+'-grade').val();
			$.post("index.php?m=admin&c=Paperdata&a=modifyPaperGrade",{
				testId:paperID,
				typeId:typeID,
				typeGrade:typeGrade,
			},function(data){
				if(data){
					typeTotal = typeNum * typeGrade;
					typeNum = $('#'+paperID+'-'+typeID+'-total').text(typeTotal);
					//getAllTotal(paperID);
				}
			});
		}

		function getAllTotal(paperID){
			total = 0;
			$('#'+paperID+'-total').each(function(){
				total = +int($(this).text());
			});
			alert(total);
		}
	</script>
	<table class="dv-table" border="0" style="width:100%;">
		<tr>
			<th>题型</th>
			<th>数量</th>
			<th>分值</th>
			<th>总分</th>
			<th></th>
		</tr>
		<foreach name="list" item="vo" >
			<tr>
				<td><label id="<{$paperID}>-<{$vo.type_id}>-name"><{$vo.type_name}></label></td>
				<td><label id="<{$paperID}>-<{$vo.type_id}>-num" name="<{$paperID}>-name"><{$vo.type_num}></label></td>
				<td><input type="number" id="<{$paperID}>-<{$vo.type_id}>-grade" value="<{$vo.type_grade}>" onblur="getTypeTotal(<{$paperID}>,<{$vo.type_id}>)"></input></td>
				<td><label id="<{$paperID}>-<{$vo.type_id}>-total" name="<{$paperID}>-total"></label></td>
			</tr>
		</foreach>
		<tr><td>total:<label id="<{$paperID}>-total"></label></td></tr>
	</table>
</body>
</html>