<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<include file="Common:head" />
	<script type="text/javascript" src="__STATIC__/js/xheditor/xheditor-1.2.2.min.js"></script> 
	<script type="text/javascript" src="__STATIC__/js/xheditor/xheditor_lang/zh-cn.js"></script>
	<script type="text/javascript" src="__STATIC__/js/Admin/optiondata/edit.js"></script>
</head>
<body>
	<style type="text/css">
		#optiontitle {
			width: 600px;
			height: 80px;
		}
		#option {
			width: 600px;
			height: 50px;
		}
	</style>
	<form id="fm" method="post" novalidate action="index.php?m=admin&c=optiondata&a=update" target='_self' >
		<table style="width: 700px" cellspacing="0" cellpadding="0">
			<tr>
				<th style="text-align: left;">
					<label>课程名称</label> 
					<input class="easyui-combobox" name="course_name" readonly="readonly"
					data-options="
					url:'<{:U('Dictdata/getDictNameJson?id=200')}>',
					method:'get',
					valueField:'type_id',
					textField:'type_name',
					panelHeight:'auto',
					value:201 
					">
				</th>
				<th style="text-align: left;">
					<label>题目类型</label> 
					<input class="easyui-combobox" name="option_type" id="option_t" readonly="readonly"
					data-options="
					url:'<{:U('Dictdata/getDictNameJson?id=100')}>',
					method:'get',
					valueField:'type_id',
					textField:'type_name',
					panelHeight:'auto',
					value:101,
					onSelect:onselect
					">
					<!-- value为设置默认的值 -->
				</th>
			</tr>
		</table>
		<table style="width: 700px" cellspacing="0" cellpadding="0">
			<tr>
				<td><label>题目</label></td>
				<td><textarea name="option_title" class="txtNewsContent" id="optiontitle"></textarea></td>
			</tr>
			<tr id="hide1">
				<td><label>选项A</label></td>
				<td><textarea name="optionA" class="txtNewsContent" id="option"></textarea></td>
			</tr>
			<tr id="hide2">
				<td><label>选项B</label></td>
				<td><textarea name="optionB" class="txtNewsContent" id="option"></textarea></td>
			</tr>
			<tr id="hide3">
				<td><label>选项C</label></td>
				<td><textarea name="optionC" class="txtNewsContent" id="option"></textarea></td>
			</tr>
			<tr id="hide4">
				<td><label>选项D</label></td>
				<td><textarea name="optionD" class="txtNewsContent" id="option"></textarea></td>
			</tr>
			<tr id="hide5">
				<td><label>选项E</label></td>
				<td><textarea name="optionE" class="txtNewsContent" id="option"></textarea></td>
			</tr>
			<tr id="hide6">
				<td><label>选项F</label></td>
				<td><textarea name="optionF" class="txtNewsContent" id="option"></textarea></td>
			</tr>
			<tr id="hide7">
				<td><label>选项G</label></td>
				<td><textarea name="optionG" class="txtNewsContent" id="option"></textarea></td>
			</tr>
			<tr id="hide8">
				<td><label>选项H</label></td>
				<td><textarea name="optionH" class="txtNewsContent" id="option"></textarea></td>
			</tr>
		</table>
		<table style="width: 700px" cellspacing="0" cellpadding="0">
			<tr>
				<td >
					<!-- 如果将radio都设置为一个名字则只能选择其中一个答案 --> 
					<span id="hideanswer1">
						<input type="checkbox" name="optionAnswer" id="answer1" value="1" onclick="getCheckBoxState()"/>
						<label id="lable-answer1" for="answer1">A</label>
					</span> 
				</td>
				<td>
					<span id="hideanswer2">
						<input type="checkbox" name="optionAnswer" id="answer2" value="2" onclick="getCheckBoxState()"/>
						<label id="lable-answer2" for="answer2">B</label>
					</span> 
				</td>
				<td >
					<span id="hideanswer3">
						<input type="checkbox" name="optionAnswer" id="answer3" value="4" onclick="getCheckBoxState()"/>
						<label id="lable-answer3" for="answer3">C</label>
					</span>
				</td>
				<td >
					<span id="hideanswer4">
						<input type="checkbox" name="optionAnswer" id="answer4" value="8" onclick="getCheckBoxState()"/>
						<label id="lable-answer4" for="answer4">D</label>
					</span>
				</td>
				<td>
					<span id="hideanswer5">
						<input type="checkbox" name="optionAnswer" id="answer5" value="16" onclick="getCheckBoxState()"/>
						<label id="lable-answer5" for="answer5">E</label>
					</span> 
				</td>
				<td >
					<span id="hideanswer6">
						<input type="checkbox" name="optionAnswer" id="answer6" value="32" onclick="getCheckBoxState()"/>
						<label id="lable-answer6" for="answer6">F</label>
					</span>
				</td>
				<td >
					<span id="hideanswer7">
						<input type="checkbox" name="optionAnswer" id="answer7" value="64" onclick="getCheckBoxState()"/>
						<label id="lable-answer7" for="answer7">G</label>
					</span>
				</td>
				<td >
					<span id="hideanswer8">
						<input type="checkbox" name="optionAnswer" id="answer8" value="128" onclick="getCheckBoxState()"/>
						<label id="lable-answer8" for="answer8">H</label>
					</span>
				</td>
			</tr>
		</table>


		<input id="answerserial" type="hidden" name="answerRes">  
		<input id="hidden_option_id" type="hidden" name="hidden_option_id" value="<{$optionid}>"> 
		<input id="hidden_option_type" type="hidden" name="hidden_option_type" > 
		<input id="hidden_option_course" type="hidden" name="hidden_option_course" value="<{$optioncourse}>">
		<table style="width: 700px" cellspacing="0" cellpadding="0">
			<tr>
				<th></th>
				<th><input type="submit" value="确认修改"></th>
			</tr>
		</table>
	</form>
	<span id="result"></span>
	<script type="text/javascript">
		$('.txtNewsContent').xheditor({
			tools:'full',
			skin:'default',
		showBlocktag:false,	//
		internalScript:false,
		internalStyle:false,
		width:600,
		height:250,
		fullscreen:false,
		sourceMode:false,
		forcePtag:true,
		upImgUrl:"upload.php",
		upImgExt:"jpg,jpeg,gif,png"
	});

	</script>
</body>
