<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>试卷详情</title>
<link    rel="stylesheet" href="__PUBLIC__/static/css/bootstrap.min.css">
<script src ="__PUBLIC__/static/js/home/jquery.min.js"></script>
<script src ="__PUBLIC__/static/js/home/bootstrap.min.js"></script>
</head>
 
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center"><{$paper['paper_name']}></div>
                    <div class="panel-body" style="">
                        <ul>
                            <li><p>所属课程：<{$paper.course_name}></p></li>
                            <li><p>试题总分：<{$paper.total_grade}></p></li>
                            <li><p>试卷题数：<{$paper.question_num}></p></li>
                            <li><p>考试时间：<{$paper.test_time}></p></li>
                            <li><p>截止日期：<{$paper.deadline}></p></li>
                        </ul> 
                    </div>
                    <div class="panel-footer" style="text-align:center">
                        <a class="btn btn-default" href="<{$paper.url}>" role="button">开始考试</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>