<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.json.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/jquery.edatagrid.js"></script>
<script type="text/javascript" src="__STATIC__/js/easyui/datagrid-detailview.js"></script>
<script type="text/javascript" src="public/xheditor/xheditor-1.2.1.min.js" ></script>
<include file="Common:theme"/>