<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="author" content="wangdong">
<title><{:C('SYSTEM_NAME')}></title>
<include file="Common:head" />
<include file="Common:xheditor" />
</head>
<body>
<form id="content_page_form" onsubmit="return contentPageFormSubmit()">
	<table width="100%" cellpadding="2">
		<tr>
			<td width="60">标题：</td>
			<td width="450"><input type="text" name="info[title]" value="<{$info.title}>" style="width:100%" /></td>
			<td></td>
		</tr>
		<tr>
			<td>关键字：</td>
			<td><input type="text" name="info[keywords]" value="<{$info.keywords}>" style="width:100%" /></td>
			<td></td>
		</tr>
		<tr>
			<td>内容：</td>
			<td colspan="2"><textarea id="content_page_form_textarea_editor" name="info[content]" style="width:90%;height:360px"><{$info.content}></textarea></td>
		</tr>
		<tr>
			<td colspan="3"><a class="easyui-linkbutton" onclick="$('#content_page_form').submit()">提交</a></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
$(document).ready(function(){
	$('#content_page_form_textarea_editor').xheditor(xheditorSetting);
})
function contentPageFormSubmit(){
	$.post('<{:U('Content/page_iframe?catid='.$catid)}>', $("#content_page_form").serialize(), function(res){
		if(!res.status){
			parent.$.messager.alert('提示信息', res.info, 'error');
		}else{
			parent.$.messager.alert('提示信息', res.info, 'info');
		}
	});
	return false;
}
</script>

</body>
</html>